node_modules/
uploads/
.env
clase16/.env
clase16/.env
clase20/firebase/db/serviceAccountKey.json

sesiones/

clase31/log/

*.log
clase31/log/errores.log
clase31/log/debug.log

isolate-*
artillery_fork*
artillery_cluster*
prof_slow*